<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165074784793-6btqasgjn2qn49vd2v012l05gvvjd6n4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165074784793-6btqasgjn2qn49vd2v012l05gvvjd6n4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>165074784793-43mnodc43gfdht1d7s5o469pan92icn3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAo9rh-UX24RTvc_RBi2uxQwSmI0TePuCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>165074784793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RelifNow.testClone2020</string>
	<key>PROJECT_ID</key>
	<string>firstcarestartup</string>
	<key>STORAGE_BUCKET</key>
	<string>firstcarestartup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165074784793:ios:eb9157d2182e18f3395088</string>
	<key>DATABASE_URL</key>
	<string>https://firstcarestartup.firebaseio.com</string>
</dict>
</plist>